    <div class="top"><h1 id="myHeading">Student Database Management System</h1>

        <div class="container">
        <div class="left">
            <h2>Student Registration</h2>
            <form id="record-form">
                <input type="text" id="name" placeholder="Name" required>
                <input type="number" id="age" placeholder="Age" required>
                <input type="text" id="email" placeholder="Email" required>
                <br>
                <button type="submit">Submit</button>&nbsp;
                <button type="delete">Delete</button>&nbsp;
                <button type="update">Update</button>&nbsp;
                <button type="find">Find</button>&nbsp;
                <button type="findall">Find All</button>
                <input type="hidden" id="edit-index" value="1">
            </form>
    </div>
        <div class="right">
            <h2>Records</h2>
            <table>
               <tr> <th>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Delete</th>
                        <th>Update</th>
                        <th>Find</th>

                    </tr>
                </th>
            </tr> 
                <tr><td id="record-list"></td></tr>
            </table>
        </div>
    </div>

    </div>

